* {
	box-sizing: border-box;
}

.navbar {
		display: flex;
		font-size: 30px;
		padding: 5px 20px;
		/*justify-content: space-between;*/
}
.nav-toggle {
	margin-left: auto;
	cursor: pointer;

}

.nav-list-collapsed {
	display: none;
}